table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.OccupancyDatePicker {
    width: 100%;
    padding-top: 15px;
}

.NewBooking {
    padding: 10px;
}

.GuestDetail {
    width: 100%;
    height: 100%;
}

.GuestName {
    font-weight: 800;
    color: #31363f;
    font-size: 1.5rem;
}

.GuestDetail img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.CashsheetTable img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.AmntPending {
    font-weight: 600;
    font-size: 1rem;
    padding: 10px;
}

.numBeds {
    font-weight: 600;
    color: #31363f;
    font-size: 1rem;
    padding: 10px;
}

.roomNum {
    font-weight: 800;
    color: #31363f;
    font-size: 1rem;
}

.occupancyPct {
    font-weight: 600;
    font-size: 1rem;
    padding: 10px;
}