.AppBar {
  background-color: #ffff05;
}

.BrandLogo {
  border-radius: 4px;
  padding-left: 10px;
}

.BrandName {
  color: 'darkgray';
  font-weight: 800;
  font-size: 20px;
}

.HeaderActions {
  width: 100%;
  text-align: right;
}

.HeaderActions Button {
  margin-right: 20px;
}

.HeaderActions img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.userPopover {
  width: 100px;
  padding: 10px;
}

.userPopover ul {
  list-style: none;
  padding: 0;
  margin: 0;
}