.BrandLogo {
  border-radius: 4px;
  padding-left: 10px;
}

.BrandName {
  color: #235784;
  font-weight: 800;
  font-size: 20px;
}

.Intro {
  background: #ddeaf6;
  margin: 20px 0 30px 0;
  padding: 20px;
}

.IntroText {
  font-size: 20px;
  color: #040b11;
  line-height: 1.45;
  font-weight: 800;
  margin-bottom: 20px;
}

.IntroIcons {
  text-align: center;
}

.HeaderActions {
  width: 100%;
  text-align: right;
}

.HeaderActions Button {
  margin-right: 20px;
}

.HeaderActions img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.SearchInventory {
  background: #fff;
  border-radius: 24px;
  padding: 25px;
  margin: 2%;
  text-align: center;
}

.SearchButton {
  width: 100%;
  min-height: 50px;
  height: 100%;
}

.SearchDatePicker {
  width: 100%;
}

.GalleryImg {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

@media only screen and (max-width: 600px) {
  .GalleryImg {
    height: 200px;
  }
}