.App {
  background: #ddeaf6;
}

.AppBar {
  background: #ffffff;
}

.BrandLogo {
  border-radius: 4px;
  padding-left: 10px;
}

.BrandName {
  color: #235784;
  font-weight: 800;
  font-size: 20px;
}

.IntroText {
  padding: 30px 10px 30px 10px;
  font-size: 35px;
  color: #040b11;
  line-height: 1.45;
  font-weight: 800;
}

.ImageList {
  padding-top: 10px;
}

.SearchInventory {
  background: #fff;
  border-radius: 24px;
  padding: 30px;
  margin: 25px;
  text-align: center;
}

.SearchButton {
  padding: 10px;
}